{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="container">

    <!-- LOGIN FORM -->
    <form id="loginForm" method="POST" class="{% if show_register %}hidden{% endif %}">
        {% csrf_token %}
        <h2>Login</h2>

        {% if login_error %}
            <div class="error">{{ login_error }}</div>
        {% endif %}

        <div class="input-group">
            <label for="reg-username">Username</label>
            <input type="text" id="reg-username" name="username" required />
        </div>
        <div class="input-group">
            <label for="reg-email">Password</label>
            <input type="email" id="reg-email" name="email" required />
        </div>

        <button class="btn">Login</button>

        <p class="toggle-text">Don’t have an account?
            <a onclick="toggleForm()">Register</a>
        </p>
    </form>

    <!-- REGISTER FORM -->
    <form id="registerForm" method="POST" class="{% if not show_register %}hidden{% endif %}">
        {% csrf_token %}
        <h2>Create Account</h2>

        {% if register_error %}
            <div class="error">{{ register_error }}</div>
        {% endif %}
        <div class="input-group">
            <label for="reg-username">Username</label>
            <input type="text" id="reg-username" name="username" required />
        </div>
        <div class="input-group">
            <label for="reg-email">Email</label>
            <input type="email" id="reg-email" name="email" required />
        </div>
        <div class="input-group">
            <label for="reg-password">Password</label>
            <input type="password" id="reg-password" name="password" required />
        </div>
        <div class="input-group">
            <label for="reg-password">Confirm Password</label>
            <input type="password" id="reg-password" name="password" required />
        </div>
        <button type="submit" class="btn">Register</button>
        <p class="toggle-text">Already have an account? <a onclick="toggleForm()">Login</a></p>
    </form>

</div>

<script>
function toggleForm() {
    document.getElementById("loginForm").classList.toggle("hidden");
    document.getElementById("registerForm").classList.toggle("hidden");
}
</script>

</body>
</html>
